{
    "propertySettings.phoneIMEI": "358523024499310",
    "propertySettings.phoneIMSI": "460000473667487",
    "propertySettings.phoneSimSerial": "89860062387126365078",
    "propertySettings.phoneAndroidId": "242dcbe4bdc88729",
    "propertySettings.phoneModel": "NX709S",
    "propertySettings.phoneManufacturer": "nubia",
    "propertySettings.macAddress": "00DB28A16AE6",
    "statusSettings.sharedApplications": "C:/Users/ACER/Documents/XuanZhi9/Applications",
    "statusSettings.sharedPictures": "C:/Users/ACER/Documents/XuanZhi9/Pictures",
    "statusSettings.sharedMisc": "C:/Users/ACER/Documents/XuanZhi9/Misc"
}